.image {
  position: relative;
  top: 10%;
  left: 5%;
  right: 5%;
}

img {
  height: 500px;
  width: 1200px;
  opacity: 60%;
  border-radius: 5px;
  max-width: 100%;
}

.leftcontent {
  position: relative;
  top: 81%;
  left: 5%;
  width: 40%;
}

.rightcontent {
  position: absolute;
  top: 81%;
  right: 5%;
  width: 40%;
}

.font {
  font-style: oblique;
  color: black;
}
